.gloat{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Main{
    margin-top: 50px;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

@media screen  and (max-width:450px){
    .Main{
        margin: 10px 60px;
        width: 70%;
        align-items: center;
        transform: rotate(360deg);
        margin-top: 90px;
        
    }
    h3{
        font-size: 20px;
        
    }
    input {
        width: 70%;
        padding: 5% 12%;
        margin-bottom: 5%;
        border-radius: 5px;
        outline: none;
        border: 1px solid #cfcfcf;
      }
      .department{
        width: 70%;
      }

      /* .contact {
        background-color:grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        padding: 30px 0px;
        
      }
      
      .contact h3 {
        font-size: 2.5rem;
    
        color: #fcc100;
      }
      
      .contact h5 {
        font-size: 1.5rem;
    
        color: #ffffff;
      } */
  }


h3{
    font-family: 'Times New Roman', Times, serif;
}

.form-submit{
margin-top: 30px;
    width: 50%;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Times New Roman', Times, serif;
  
}

.form-submit button{
    background-color: #353634;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    font-family: 'Times New Roman', Times, serif;
}

.form-submit button:hover{
    color: #444645;
    background-color: #fff;
    border: 2px solid #519e8a;
  }




input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .form-group {
    margin-right: 1%;
  }
.form-group{
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.department{
height: 90%;
/* border-radius: 10px; */

}
select::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color:rgb(214, 214, 212);
    font-family: 'Times New Roman', Times, serif;
  }

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  label {
    font-size: 1em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;

  }
  
  input {
    padding: 5% 12%;
    margin-bottom: 5%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color:rgb(214, 214, 212);
    font-family: 'Times New Roman', Times, serif;
  }

















































.About{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  .About-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 85%;
  
  }
  .About-text h2 {
    font-size: 2.5rem;
    margin: 20px;
    color: #fcc100;
  }
  
  .About-text h2 {
    margin: 0px;
    padding: 0px;
  }
  
  .About-text p {
    font-size: 1.5rem;
    margin: 20px;
    color: #ffffff;
  }

  .contact {
    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 30px 0px;
  }
  
  .contact h3 {
    font-size: 2.5rem;
    margin: 20px;
    color: #fcc100;
  }
  
  .contact h5 {
    font-size: 1.5rem;
    margin: 20px;
    color: #ffffff;
  }
  
  
  @media (max-width: 500px) {
   
    .contact {
        margin-top: 1000px;
    }
  }

/* The menu button */
.menu-icon {
    display: none; /* hide the button by default */
  }
  
  .nav-icon {
    width: 30px;
    height: 2px;
    background: #333;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* The menu */
  .menu {
    display: flex; /* show the menu by default */
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 20px;
    /* background-color: grey */
    
  }
  
  /* Media queries */
  @media (max-width: 800px) {
    /* Show the menu button on small screens */
    .menu-icon {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      margin-left: 200px;
    }
  
    /* Hide the menu on small screens */
    .menu {
      display: none;
    }
  
    /* Show the menu when the menu button is checked */
    #menu-btn:checked ~ .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
    }
  
  }
















/* body{
    padding: 0;
    margin: 0;
    background-color: rgb(14, 13, 13);
    background-color: rgb(238, 234, 234);

} */
/* .wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 500px;
    animation: rotate-1 20s linear infinite;
    margin-top: 90px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.box{
    margin: 5rem auto;
    width: 10%;
    align-items: center;
    transform: rotate(270deg);
}
.box .dna{
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height:16px;
    margin: 2px 0;
    margin-top: 15px;
    background: linear-gradient(0deg, transparent 0%, transparent 50.5%, #2a6ae9 50%, transparent 60%,  transparent 100% );
    animation: rotate-2 2s linear infinite, hue 2s linear infinite;
}
.dna:before{
    content: '';
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    background: #fff;
    box-shadow: 0 0 10px 2px #2a6ae9, 0 0 0 1px #000;
    animation-delay: 1s;
}
.dna:after{
    content: '';
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    background: #fff;
    box-shadow: 0 0 10px 2px #2a6ae9, 0 0 0 1px #000;
}
.dna:nth-child(1){
    animation-delay: 0s;
}
.dna:nth-child(2){
    animation-delay: -.1s;
}
.dna:nth-child(3){
    animation-delay: -.2s;
}
.dna:nth-child(4){
    animation-delay: -.3s;
}
.dna:nth-child(5){
    animation-delay: -.4s;
}
.dna:nth-child(6){
    animation-delay: -.5s;
}
.dna:nth-child(7){
    animation-delay: -.6s;
}
.dna:nth-child(8){
    animation-delay: -.7s;
}
.dna:nth-child(9){
    animation-delay: -.8s;
}
.dna:nth-child(10){
    animation-delay: -.9s;
}
.dna:nth-child(11){
    animation-delay: -1.0s;
}
.dna:nth-child(12){
    animation-delay: -1.1s;
}
.dna:nth-child(13){
    animation-delay: -1.2s;
}
.dna:nth-child(14){
    animation-delay: -1.3s;
}
.dna:nth-child(15){
    animation-delay: -1.4s;
}
.dna:nth-child(16){
    animation-delay: -1.5s;
}
.dna:nth-child(17){
    animation-delay: -1.6s;
}
.dna:nth-child(18){
    animation-delay: -1.7s;
}
.dna:nth-child(19){
    animation-delay: -1.8s;
}
.dna:nth-child(20){
    animation-delay: -1.9s;
}
.dna:nth-child(21){
    animation-delay: -2.0s;
}
.dna:nth-child(22){
    animation-delay: -2.1s;
}
.dna:nth-child(23){
    animation-delay: -2.2s;
}
.dna:nth-child(24){
    animation-delay: -2.3s;
}
.dna:nth-child(25){
    animation-delay: -2.4s;
}
.dna:nth-child(26){
    animation-delay: -2.5s;
}
.dna:nth-child(27){
    animation-delay: -2.6s;
}
.dna:nth-child(28){
    animation-delay: -2.7s;
}
.dna:nth-child(29){
    animation-delay: -2.8s;
}
.dna:nth-child(30){
    animation-delay: -2.9s;
}
@keyframes rotate-1
{
    0%{
        transform: rotate(0deg) ;
    }
    100%{
        
    }
}
@keyframes rotate-2
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes hue
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}
.main{
    color:rgb(234, 234, 234);
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.pure{
    
    font-family: 'Times New Roman', Times, serif;
    height: auto;
    line-height: 1.2;
}

.purelife{
font-family: 'Times New Roman', Times, serif;
letter-spacing: 2.5px;
font-weight: bolder;
text-align: center;
font-size:30px;
}

.btnn{
    width: 160px;  
   height: 40px;
   background: white ;
   border: none;
   margin-left: 30px;
   padding-left:10px ;
   font-size: 30px;
   font-weight: bolder;
   border-radius: 10px;
   cursor: pointer;
   margin-top: 50px;
   font-family: 'Times New Roman', Times, serif;
   padding: 10px;
   color: black;

} */
/* .reel{
    margin-left: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
}
a{
   text-decoration: none;
   color: black;
   transition: 4s ease-in;
}
.btnn:hover{
   animation:alternate-reverse;
   animation-duration: initial;
   animation-play-state: running;
   animation-timing-function: cubic-bezier(5, 1, 3, 1);
   font-size:15px;
   background: #00ff2a;
   transition: 1s ease-in-out;
   border-radius: 50px;
} */
/* .glot{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-right: 190px;
}
.webs:hover{
    color:rgb(12, 158, 12);
    font-size: 50px;
    transition:3s ease-in-out;
    transition-duration: 3s;
    animation: forwards;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(5, 1, 3, 1);
   animation-duration: initial;
   animation:alternate-reverse;


}
.webs{
    font-size: 60px;
}

.purelife:hover{
    color:rgb(12, 158, 12);

    transition:3s ease-in-out;

    animation-play-state: running;
   animation:alternate-reverse;
   animation-timing-function: cubic-bezier(5, 1, 3, 1);

}
    






@media screen and (max-width: 1035px) {
    .wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
@media screen and (max-width: 915px){
    .wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
@media screen and (max-width: 850px) {
    .wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .webs{
        text-align: center;
        font-size: 45px;
    }
    .purelife{
        font-size: 25px;
    }
    .btnn{
        font-size: 20px;
    }
    .box .dna{
        width: 150px;
        height: 20px;
    }
    .box{
        margin-top: 0rem ;
        width: 10%;
        margin-left: 500px;
        margin-right: 90px;
        
    }
    .dna{
        margin: 0px;
    }
}
@media screen  and (max-width:480px){
    .box{
        margin: 5rem 10rem;
        width: 10%;
        align-items: center;
        transform: rotate(360deg);
        
    }
    
} */